.gradient-back {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 560px;
   
    display: flex;
   
    
    justify-content: center;
    margin-bottom: 50px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media (max-width:450px) {
    .gradient-back{
 width : 340px;
 height: 200px;
 display: flex;
 align-items: center;
 margin-left: 0px;
 justify-content: center;


    }
}

.container1{
    display: flex;
    margin-left: 200px;
    column-gap: 800px;
    width: 1900px;
    margin-top: 10px;
    gap: 500px;
    justify-content:space-evenly;
    align-items: baseline;
}
@media (max-width:450px) {
    .pb-2{
display: flex;
justify-content: center;
    }
}

.two{
    font-size: 1.5rem;
}
.pb-2{
    font-size: 5rem;
    color: #191D88;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width:450px) {
    .pb-2{
font-size: 3rem;
    }
}
.fs-2{
    font-size: rem;
    color: #191D88;
}
.text-body-emphasis{
    font-size: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.five{
    font-size: 3rem;
}
.

.nin{
    margin-top: 80px;
    display: inline-block;
    flex-direction: column;
}
.sev{
    background-color:wheat;
    height: 50px;
    
}
.eig{
    background-color: orange;
    color: white;
    height: 50px;
    font-size: 20px;
}


.icon-link{
    color: orange;
}


.bg-body-tertiary{
    background-color: orange;
   
}

.head{
   background-color: orange;
}

.px-5{
    align-items: center;
    justify-content: center;
    display: flex;


}
.pi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
@media (max-width:500px) {
    .pi{
 width : 310px;
 height: 180px;
 display: flex;
 justify-content: center;
 margin-bottom: 50px;
}
}
.pii{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:450px) {
    .pii{
       
 width : 360px;
 height: 170px;
    }
}
.gif{
    display: flex;
    justify-content: center;
}
.feature-col{
    display: flex;
    justify-content: center;
}
@media (max-width:450px) {
    .feature-col{
       display: flex;
       justify-content: center;

    }
}


