.one{
font-size: 6rem;
font-weight: 700;
font-family:Georgia, 'Times New Roman', Times, serif;
color: white;
}

@media (max-width:450px) {
    .one{
 font-size: 4rem;
 margin-left: 5px;

    }
}
.two{
    display:flex;
    align-items:center;
    justify-content: center;
    border-color: #974EC3;
    border-width: 5px;
    border-style:ridge;
    gap: 50px;
    padding-left:0px ;
    background-color: #974EC3;
}
@media (max-width:450px) {
    .two{
gap: 0px;
display:block;
align-items: baseline;
justify-content:space-around;
    }
}
#why{
    border-radius: 20%;
}
@media (max-width:450px) {
    #why{
 width : 70px;
 height: 50px;
 margin-left: 130px;
    }
}
.nin{
    margin-top: 80px;
    display: block;
    flex-direction: column;
}
.sev{
    background-color:wheat;
    height: 50px;
    
}
.eig{
    background-color: orange;
    color: white;
    height: 50px;
    font-size: 20px;
}
.head{
    background-color:orange;
}
.three{
    display:flex;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    color: orange;
  }
  @media (max-width:450px) {
    .three{
 display: block;
 font-size: 1.5rem;
 margin-left: 15px;
    }
}
.tt{

margin-top: 100px;
margin-bottom: 50px;
display: flex;
justify-content: center;
background-color: #974EC3;
color: white;
font-size: 3rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width:450px) {
    .tt{
font-size: 1.5rem;
gap: 5px;
    }
}
.how{
    font-size: 2rem;
    color: blueviolet;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.container1{
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    
 
}
@media (max-width:450px) {
    .container1{
display:flex;
flex-direction: column;
gap: 30px;
justify-content: center;

    }
}

.container2{
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
 
}
@media (max-width:450px) {
    .container2{
display:flex;
flex-direction: column;
gap: 30px;

    }
}
.container3{
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
 
}
@media (max-width:450px) {
    .container3{
display:flex;
flex-direction: column;
gap: 30px;

    }
}
.then{
    font-size: 2rem;
    margin: 0px;
}
@media (max-width:450px) {
    .then{
font-size: 1.2rem;
margin-left: 140px;

    }
}
.a{
  display: flex;  
}
@media (max-width:450px) {
    .a{
        display: flex;
        justify-content: center;
 width : 299px;
 height: 120px;
 
    }
}
.b{

}
@media (max-width:450px) {
    .b{
 width : 30px;
 height: 30px;

    }
}
.c{

}
@media (max-width:450px) {
    .c{
 width : 150px;
 height: 250px;
 margin-left: 100px;
    }
}
.u{
    background-color:#DFCCFB;
}